
# Database
# PostgreSQL
DB_URL=postgresql+asyncpg://postgres:yourpassword@localhost:5432/pet-system
DB_ECHO=false
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=3600
LIMIT=10
INIT_ADMIN=admin
INIT_ADMIN_PASSWORD=123456


# Redis
REDIS_URL=redis://localhost:6379/0  # 可自行设置置密码，如 redis://:yourpassword@localhost:6379/0
REDIS_DECODE_RESPONSES=true


# Security
# JWT
SECRET_KEY=I-hope-you-are-happy-every-day  # 生产环境请使用更复杂的密钥
ALGORITHM=HS256 
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Code 
REGISTER_SCENE=register
RESET_PASSWORD_SCENE=reset_password
CODE_LENGTH=6
CODE_EXPIRE_SECONDS=300
CODE_COOLDOWN_SECONDS=60
CODE_CACHE_PREFIX=auth:code:
RETURN_CODE=true

# App
APP_NAME=fastapi-backend-template
APP_VERSION=1.0.0
APP_DESCRIPTION=A reusable FastAPI backend template with authentication, admin management, and Redis verification code flow
API_V1_PREFIX=/v1
DOCS_URL=/docs
REDOC_URL=/redoc
OPENAPI_URL=/openapi.json
CORS_ALLOW_ORIGINS=["*"]
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]

# Error Code
USER_NOT_FOUND=USER_NOT_FOUND
USERNAME_ALREADY_EXISTS=USERNAME_ALREADY_EXISTS
PHONE_ALREADY_EXISTS=PHONE_ALREADY_EXISTS
PHONE_NUMBER_ALREADY_EXISTS=PHONE_NUMBER_ALREADY_EXISTS
CANNOT_DELETE_SELF=CANNOT_DELETE_SELF

PET_NOT_FOUND=PET_NOT_FOUND
OWNER_NOT_FOUND=OWNER_NOT_FOUND
PET_ALREADY_EXISTS=PET_ALREADY_EXISTS

INVALID_CREDENTIALS=INVALID_CREDENTIALS
TOKEN_INVALID=TOKEN_INVALID
TOKEN_EXPIRED=TOKEN_EXPIRED
CODE_REQUIRED=CODE_REQUIRED
CODE_INVALID=CODE_INVALID
CODE_EXPIRED=CODE_EXPIRED
CODE_SEND_TOO_FREQUENTLY=CODE_SEND_TOO_FREQUENTLY
VERIFICATION_CODE_SERVICE_UNAVAILABLE=VERIFICATION_CODE_SERVICE_UNAVAILABLE
PHONE_NOT_REGISTERED=PHONE_NOT_REGISTERED
PHONE_NOT_VERIFIED=PHONE_NOT_VERIFIED
OLD_PASSWORD_INCORRECT=OLD_PASSWORD_INCORRECT

